<div class="row">
    <div class="page-header">
        <h2>List of users</h2>
    </div>

    <nav>
        <ul class="pager">
            <li class="previous" ng-class="{invisible: !canListBackward}"><a
                    ng-href="#/home?offset={{previousOffset}}&limit={{limit}}"><span aria-hidden="true">&larr;</span>
                Previous</a></li>
            <li><a href="#/createuser" class="btn">Create user</a></li>
            <li class="next" ng-class="{invisible: !canListForward}"><a
                    ng-href="#/home?offset={{nextOffset}}&limit={{limit}}">Next <span
                    aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>

    <div class="row" ng-show="users">
        <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="user in users">
            <div class="thumbnail user-item">
                <div class="caption">
                    <h4>{{user.user_name? user.user_name: 'No username'}}</h4>
                    <h6>{{user.email? user.email: 'No email'}}</h6>
                    <h6>Balance: <strong>{{user.balance}}</strong></h6>
                    <h6>Register date: <strong>{{user.register_date | date : 'short'}}</strong></h6>
                    <h6 class="label" ng-class="user.enabled ? 'label-success' : 'label-default'">
                        <strong>{{user.enabled ? 'Enabled' : 'Disabled'}}</strong>
                    </h6>

                    <p></p>

                    <p>{{user.user_custom? user.user_custom: 'No info'}}</p>

                    <p>
                        <a href="#/users/{{user.user_id}}" class="btn btn-default" role="button">Transactions</a>
                        <a href="#/users/{{user.user_id}}/edit" class="btn btn-default" role="button">Edit</a>
                        <a href="#/users/{{user.user_id}}/recharge" class="btn btn-default" role="button">Charge</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>